.introduction
  .container
    %h4 Our yearly gathering where we share knowledge about the Ruby programming language, and celebrate the Australian and broader Ruby community.

.speakers
  .container
    %h3 Speakers
    %p We are so stoked to have the following speakers to grace our stage and share their wisdom and knowledge with us!

    .speaker-list
      .speaker.first
        = haml :'2019/_speaker_mini', locals: { speaker: @invited_speakers[0] }

      .speaker.second
        = haml :'2019/_speaker_mini', locals: { speaker: @invited_speakers[1] }

      .speaker.third
        = haml :'2019/_speaker_mini', locals: { speaker: @invited_speakers[2] }

      .speaker.fourth
        = haml :'2019/_speaker_mini', locals: { speaker: @invited_speakers[3] }

      .speaker.fifth
        = haml :'2019/_speaker_mini', locals: { speaker: @invited_speakers[4] }

      .speaker.sixth
        %a{href: "/2019/speakers"}
          .avatar
            .speaker__name
              And
              %br
              more!
            %img{ src: @random_speaker.avatar_filename(format: 'jpg') }


.tickets
  = haml :'2019/common/_tickets'

.contact
  .container
    %p
      We're working hard at putting together another fun-filled RubyConf AU, and will have more details for you soon!  In the meantime, if you've any questions, don't hesitate to <a href="mailto:organisers@rubyconf.org.au">shoot us an email</a>. To keep on top of the latest,
      %a{href: "https://confirmsubscription.com/h/j/809D057CE90261E7"} subscribe to the mailing list
      or
      %a{href: "https://twitter.com/rubyconf_au"} follow us on Twitter.

= haml :'2019/common/_sponsors'
