.container
  .event
    .start_time= event.formatted_start_time
    %h2
      - if event.show_title?
        = event.title
      - else
        = ""
    .details= haml event.template_name, locals: { event: event }

- if defined?(last) && last
  .container
    .event
      .end_time= event.formatted_end_time
