- @page_title = "RubyConf AU 2017 - Schedule"

%section.billboard
  .column
    %h1 Schedule

%section.body-section#schedule{'data-magellan-target': 'speakers'}
  .column
    %h2 Thursday, 9th February

    - @speakers.timeslots(day: :thursday).each do |time, speakers|
      .row{ class: "speakers-#{speakers.count}" }
        .time= Time.at(time.to_i).strftime("%H:%M")
        - speakers.each do |speaker|
          = haml :'2017/_slot', locals: { speaker: speaker }


  .column
    %h2 Friday, 10th February

  .column
    - @speakers.timeslots(day: :friday).each do |time, speakers|
      .row{ class: "speakers-#{speakers.count}" }
        .time= Time.at(time.to_i).strftime("%H:%M")
        - speakers.each do |speaker|
          = haml :'2017/_slot', locals: { speaker: speaker }

= haml :'2017/_sponsors'
