%a.speaker{href: "https://twitter.com/#{speaker[:twitter]}", target: '_blank'}
  %img.thumbnail{src: "#{speaker[:image]}" }

  .about
    %h3
      - speaker[:name].split(' ').each do |word|
        %span.name= word
    %div.twitter @#{speaker[:twitter]}
    %p.bio= speaker[:bio]
