.speaker
  .avatar{ class: "variation-#{(1..5).to_a.sample}"}
    .name{ class: speaker.long_name? && 'long' || '' }
      = speaker.first_name
      %br
      = speaker.last_name
    %img{ src: speaker.avatar_filename(format: 'jpg') }
  .details
    .quote{ class: speaker.is_keynote? ? "default" : "highlight"}= speaker.pitch
    .bio= speaker.bio
    .social
      - if speaker.has_twitter?
        %a{ href: "https://twitter.com/#{speaker.twitter}", target: '_blank' }= "@#{speaker.twitter}"
