.details
  .speakers
    - event.speakers.each do |names|
      - names = Array(names)
      - if names.length == 1
        - speaker = @speakers.find(name: names.first)
        - raise names.first if speaker.nil?
        .speaker
          .avatar
            %img{ src: speaker.avatar_filename }
          .info
            .title= speaker.title
            .name= speaker.name
            %a.twitter{href: "https://twitter.com/#{speaker.twitter}", target: "_blank"}= "@#{speaker.twitter}"
      - else
        - speakers = names.collect { |name| @speakers.find(name: name) }
        .speaker
          - speakers.each do |speaker|
            .avatar
              %img{ src: speaker.avatar_filename }
          .info.double
            .title= speakers.first.title
            .name= speakers.collect(&:name).join(" &amp; ")
            - speakers.each do |speaker|
              %a.twitter{href: "https://twitter.com/#{speaker.twitter}", target: "_blank"}= "@#{speaker.twitter}"
